//
// Font stacks
$main-ff: 'PT Sans', 'sans-serif';
$secondary-ff: 'Courier New';

//
// Colors
$black: #000000;
$white: #fff;

$brown: #2f1b15;
$dark-brown: #231f20;

$blue: #014f98;

$dark-gray: #797979;
$gray: #3d3d3d;
